<div class="login-bar-div">
  <mat-toolbar>
    <button mat-icon-button disabled="disabled">
      <mat-icon>alarm</mat-icon>
    </button>
    <div style="text-align: center; flex: auto">
      База приборов, отслеживание проверок
    </div>
    <auth-buttons></auth-buttons>
  </mat-toolbar>
</div>

<mat-card class="matCard">
  <mat-card-title style="text-align: center">Вход</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <input
    type="text"
    [(ngModel)]="email"
    placeholder="Введите логин..."
    style="width: 100%"
  />
  <input
    type="text"
    [(ngModel)]="password"
    placeholder="Введите пароль..."
    style="width: 100%; margin-top: 1em"
  />
  <mat-card-actions class="matCardAction">
    <button mat-button (click)="login()">Войти</button>
  </mat-card-actions>
</mat-card>
