.login-bar-end {
  justify-content: flex-end;
  width: 150px;
}

.login-bar-div {
  margin: 0 16px;
  border: 1px solid;
  background-color: #a5d6a7;
  display: flex;
}
.mat-toolbar,
.mat-toolbar-single-row {
  padding: 0;
}

.matCard {
  margin-right: 5em;
  margin-left: 5em;
  margin-top: 5em;
  border: 1px solid;
}
.matCardAction {
  text-align: right;
  margin-top: 3em;
}
